---

permalink: _redirects
---

Buradaki kod mantikli bir sey degil ve her dosya icin acmiyor sadece lazim olursa belki diye koydum.

{%- for flower in flowers %}
<h1>{{flower.common_name}}</h1>

<p>{{flower.notes}}</p>
{% endfor %}